extends ../layout
block content
  .col-sm-9.midlle-bar
      .large-title-row
        img(src='/images/left-icon6.png', alt='icon')
        |  System
        .edit-btn-cl.select-item
          
            //select#select(name='select')
              option ACTIONS
      .customer-box.clearfix
        include left_menu
        script(type='text/javascript', src='/js/ckeditor/ckeditor.js')
        form(action='/emailtemplate/update', method='post', name='form3')
            .profile-cl
                .profile-top-row
                  h2 Edit Template
                  .edit-btn-cl
                    input(type='submit', name='save', value='Save',class='save-btn')
                    input(type='hidden', name='template_id', value='#{result._id}')
                .profile-form-box
                  .profile-right-cl
                    form(action='', method='post')
                      .profile-frm-row
                        .profile-frm-cl1  Name 
                        .profile-frm-cl2
                          input(name='name', type='text',required='true', value='#{result.name}')
                      .profile-frm-row
                        .profile-frm-cl1 Subject 
                        .profile-frm-cl2
                          input(name='subject', type='text',required='true', value='#{result.subject}')
                      .profile-frm-row
                        .profile-frm-cl1 User
                        .profile-frm-cl2
                          .select-item
                            select#select(name='user_type')
                               option(value='customer', selected=('customer' == result.user_type)) Customer
                               option(value='shop', selected=('shop' == result.user_type)) Shop
                       .profile-frm-row
                        .profile-frm-cl1 Template Type
                        .profile-frm-cl2
                          .select-item
                            select#select(name='template_type')
                              -for(var i=0;i< emailTemplateType.length;i++){
                                  option(value="#{emailTemplateType[i].value}", selected=(emailTemplateType[i].value == result.template_type))  #{emailTemplateType[i].lable}
                              -}                               
                      .profile-frm-row
                        .editer-box Editer
                        .profile-frm-cl2.w610
                            textarea(name='content',id='editor') #{result.content}
                      .profile-frm-row
                        .profile-frm-cl1  Mobile Content
                        .profile-frm-cl2
                          textarea(name='mobile_content',id='mobile_content') #{result.mobile_content}
                          
            script(type='text/javascript').
                $(document).ready(function(n){
                    CKEDITOR.editorConfig = function( config ) {
                            config.language = 'es';
                            config.uiColor = '#F7B42C';
                            config.height = 200;
                            config.toolbarCanCollapse = 'auto';
                            config.width = true;
                    };

                    //var editorElement = CKEDITOR.document.getById( 'content' );
                    CKEDITOR.replace('editor');
                });


