extends ../layout
block content
    .col-sm-9.midlle-bar
        include ../partials/flash
        .large-title-row
            img(src='/images/title-icon.png', alt='icon')
            |  User
            .edit-btn-cl.select-item
                //form(action='', method='post', name='form3')
                    select#select(name='select')
                        option ACTIONS
        .customer-box.clearfix
            include left_menu
            .profile-cl
                .profile-top-row
                    h2 Email Templates
                .low-tbl-box.order-txt
                    form(name='form2', method='post', action='')
                      table(width='100%', cellspacing='0', cellpadding='0', border='0')
                        tbody
                          tr
                            th(align='center')
                              //input#checkbox2(type='checkbox', name='checkbox2')
                            th
                              | Name
                            th Subject 
                            th User
                            th Action
                              //a(href='#')
                                //img(src='/images/delete-icon.png', alt='delete')
                          - var count = 1;
                            if resultRes.length > 0
                                each template in resultRes 
                                    tr(class='attrTr_#{template._id}')
                                      td(align='center') #{count}
                                      td.ord-title #{template.name}
                                      td #{template.subject}
                                      td #{template.user_type}
                                      td 
                                         a.addsize.sizebuttons(href='/emailtemplate/edit/#{template._id}', title='Edit template') Edit 
                                         //a.rmvsize.sizebuttons(href='#', onclick='deleteAttribute("#{template._id}")' title='Delete Attribute') Delete
                                    - count++;
                            else
                                tr
                                 td(colspan=5)
                                  p No record found
                include ../partials/pagination

                  