h2 SHOP
ul
  li(class=(activeClass == 1)?'active':'')
    a(href='/user/view/#{getUserDetails._id}')
        -if(user.role_id == 3 || user.role_id == 4){
            | Shop Profile
        -}else{
            | My profile
        -}
  li(class=(activeClass == 2)?'active':'')
    a(href='/user/shipping/#{getUserDetails._id}') Shipping
  li(class=(activeClass == 3)?'active':'')
    a(href='/user/paymentMethod/#{getUserDetails._id}') Payment Methods
  li(class=(activeClass == 5)?'active':'')
    a(href='/user/reviews/#{getUserDetails._id}') Product Reviews
  li(class=(activeClass == 6)?'active':'')
    a(href='/user/account/#{getUserDetails._id}') Account
  li(class=(activeClass == 7)?'active':'')
    a(href='/user/linkedAccount/#{getUserDetails._id}') Linked Accounts
  li(class=(activeClass == 8)?'active':'')
    a(href='/user/notifications/#{getUserDetails._id}') Notifications
