h2 SHOP
ul
  li
    a(href='/user/view/#{getUserDetails[0]._id}/1') Shop Profile
  li.active
    a(href='/user/shipping/#{getUserDetails[0]._id}/2') Shipping
  li
    a(href='/user/paymentMethod/#{getUserDetails[0]._id}/3') Payment Methods
  li
    a(href='/user/order/#{getUserDetails[0]._id}/4') Orders
  li
    a(href='/user/reviews/#{getUserDetails[0]._id}/5') Product Reviews
  li
    a(href='/user/account/#{getUserDetails[0]._id}/6') Account
  li
    a(href='/user/linkedAccount/#{getUserDetails[0]._id}/7') Linked Accounts
  li
    a(href='/user/notifications/#{getUserDetails[0]._id}/8') Notifications
