extends ../layout

block content
  .col-sm-9.midlle-bar
    .large-title-row
      img(src='/images/title-icon2.png', alt='icon')
      |  ATTRIBUTES
    .customer-box.cmn-in.clearfix
      .low-tbl-box.order-txt
        form(name='form2', method='post', action='')
          table(width='100%', cellspacing='0', cellpadding='0', border='0')
            tbody
              tr
                th(align='center') #
                th Name 
                th Type
                th Required
                th Post Feed
                th Product Manager
                th Display Type
                th Action
              - var count = 1;
              each getAllAttribute in getAllAttributes 
                tr(class='attrTr_#{getAllAttribute._id}')
                  td(align='center') #{count}
                  td.ord-title #{getAllAttribute.name}
                  td #{getAllAttribute.type}
                  td #{getAllAttribute.is_required}
                  td #{getAllAttribute.is_post_feed}
                  td #{getAllAttribute.product_manager}
                  td #{getAllAttribute.display_type}
                  td 
                     a.addsize.sizebuttons(href='/attribute/edit/#{getAllAttribute._id}', title='Edit Attribute') Edit | 
                     a.rmvsize.sizebuttons(href='#', onclick='deleteAttribute("#{getAllAttribute._id}")' title='Delete Attribute') Delete
                - count++;

          