extends ../layout

block content
  
  .col-sm-9.midlle-bar
    .large-title-row
      img(src='/images/title-icon2.png', alt='icon')
      |  ATTRIBUTES
    .top-btns.clearfix
      .btn-s-right
        a.default-btn(href='/attribute/add', title='Add Size') ADD ATTRIBUTE
    .customer-box.clearfix
        include ../partials/product_left_menu
        .profile-cl
           .profile-top-row
               h2 MANAGE ATTRIBUTES
           .profile-form-box.users-in
             .low-tbl-box.order-txt
                table(width='100%', cellspacing='0', cellpadding='0', border='0')
                    tbody
                      tr
                        th(align='center') #
                        th Name 
                        th Type
                        th Required
                        //th Post Feed
                        //th Product Manager
                        th Display Type
                        th Action
                      - var count = 1;
                        if getAllAttributes.length > 0
                            each getAllAttribute in getAllAttributes 
                                tr(class='attrTr_#{getAllAttribute._id}')
                                  td(align='center') #{count}
                                  td.ord-title #{getAllAttribute.name}
                                  td #{getAllAttribute.type}
                                  td #{getAllAttribute.is_required}
                                  //td #{getAllAttribute.is_post_feed}
                                  //td #{getAllAttribute.product_manager}
                                  td #{getAllAttribute.display_type}
                                  td 
                                     a.addsize.sizebuttons(href='/attribute/edit/#{getAllAttribute._id}', title='Edit Attribute') Edit | 
                                     a.rmvsize.sizebuttons(href='#', onclick='deleteAttribute("#{getAllAttribute._id}")' title='Delete Attribute') Delete
                                - count++;
                        else
                            tr
                             td(colspan=8)
                              p No record found


            include ../partials/pagination
            