extends ../layout
block content
  .col-sm-9.midlle-bar
    .large-title-row
      img(src='/images/title-icon.png', alt='icon')
      |  #{getCustomerDetails.first_name} #{getCustomerDetails.last_name}
    form(action='/customer/update', method='post')  
      .righsub-nav.clearfix
        include customer_top_bar
          a(href='#') &nbsp;&nbsp;Save and continue edit
        .right-sub
          button(type='submit') SAVE
      .customer-box.clearfix
        .customer-cl
          include ../partials/customer_left_menu
        .profile-cl
          .profile-top-row
            h2 PROFILE
          .profile-form-box
            .profile-left-cl
              img.profile-icons(src='/images/admin.png', alt='img')
            .profile-right-cl
              .profile-frm-row
                .profile-frm-cl1 First Name
                .profile-frm-cl2
                  input(name='first_name', type='text', value='#{getCustomerDetails.first_name}')
              .profile-frm-row
                .profile-frm-cl1
                  | Last Name
                .profile-frm-cl2
                  input(name='last_name', type='text', value='#{getCustomerDetails.last_name}')
              .profile-frm-row
                .profile-frm-cl1 Address
                .profile-frm-cl2
                  input(name='address', type='text', value='1439 S. Rimhurst ave')
              .profile-frm-row
                .profile-frm-cl1 City
                .profile-frm-cl2
                  input(name='city', type='text', value='Glendora')
              .profile-frm-row
                .profile-frm-cl1 State
                .profile-frm-cl2
                  input(name='state', type='text', value='CA')
              .profile-frm-row
                .profile-frm-cl1 Zip Code 
                .profile-frm-cl2
                  input(name='zip_code', type='text', value='91740')
              .profile-frm-row
                .profile-frm-cl1 Country
                .profile-frm-cl2
                  input(name='country', type='text', value='USA')
              .profile-frm-row
                .profile-frm-cl1 Bio
                .profile-frm-cl2
                  .in-div.large-in
                    | #{getCustomerDetails.bio}