extends ../layout
block content
  .col-sm-9.midlle-bar
    include ../partials/flash
    .large-title-row
        img(src='/images/title-icon.png', alt='icon')
        |  #{getCustomerDetails.first_name} #{getCustomerDetails.last_name}
       form(method='post',action='/customer/saveNotification')
        .righsub-nav.clearfix
          include customer_top_bar 
          //.right-sub
            input(type='submit',class='save-btn',value='SAVE')
        .customer-box.clearfix
          .customer-cl
              include ../partials/customer_left_menu
          .profile-cl
            .profile-top-row
              h2 PRODUCT REVIEWS
            .profile-form-box.reviews
              .product_table
                table
                    -if(result && result.length > 0){
                        each record in result
                            tr
                              td
                                input(type='checkbox',value='#{record.}')
                              td
                                .product_img
                                  img(src='#{record.id}')
                              td
                                .product_details
                                  ul
                                    li
                                      .order_label
                                        strong PRODUCT:
                                      .order_field  #{record.productDetail.data.product.name}
                                      .clearfix
                                    li
                                      .order_label
                                        strong SKU:
                                      .order_field  #{record.productDetail.data.product.sku}
                                      .clearfix
                                    li
                                      .order_label
                                        strong SIZE:
                                      .order_field  S
                                      .clearfix
                                    li
                                      .order_label
                                        strong COLOR:
                                      .order_field  Black
                                      .clearfix
                                    li
                                      .order_label
                                        strong QTY:
                                      .order_field  #{record.productDetail.data.quantity}
                                      .clearfix
                              td
                                .product_price
                                  p  Price
                                  p  |$#{record.productDetail.data.product.price}
                              td
                                .star_review
                                  p Review
                                  p
                                    img(src='/images/star.png')
                                  p #{record.comment}
                    -}else{
                    tr
                      td
                        |No record found
                    
                    -}
                  

