extends ../layout
block content
  .col-sm-9.midlle-bar
    include ../partials/flash
    .large-title-row
      img(src='/images/title-icon5.png', alt='icon')
      |  MY SHOP
      
    .customer-box.clearfix
        .customer-cl
            include ../partials/shop_left_menu
        .profile-cl
            .profile-top-row
              h2 PAYMENTS
            .profile-form-box
              form(method='post', action='/user/shop_payment_method_save')
                ul.brand_payment_brand_view
                  li Choose your form of payout.
                  li
                    .vimo-txt
                      span.vm-inp
                        input#radio.css-checkbox(type='radio', name='radio', value='radio')
                        label.css-label(for='radio')
                      span.mv-img
                        img(src='/images/paytm.jpg')
                    .profile-right-cl4
                      .profile-frm-row
                        .profile-frm-cl1 EMAIL
                        .profile-frm-cl2
                          input(type='text', value='#{availablePaymentMethod.paypal_email ? availablePaymentMethod.paypal_email :""}', name='paypal_email')
                  li
                    .vimo-txt
                      span.vm-inp
                        span.vm-inp
                          input#radio2.css-checkbox(type='radio', name='radio', value='radio')
                          label.css-label(for='radio2')
                      span.mv-img
                        img(src='/images/venmo.jpg')
                    .profile-right-cl4
                      .profile-frm-row
                        .profile-frm-cl1 EMAIL
                        .profile-frm-cl2
                          input(type='text', value='#{availablePaymentMethod.venmo_email ? availablePaymentMethod.venmo_email :""}', name='venmo_email')
                  li
                    .payment
                      .profile-right-cl4
                        .profile-frm-row.first-txt
                          .profile-frm-cl1
                            span.vm-inp
                              input#radio3.css-checkbox(type='radio', name='radio', value='radio')
                              label.css-label(for='radio3')
                          .profile-frm-cl2
                            | Direct Deposit
                        .profile-frm-row
                          .profile-frm-cl1 Bank Name
                          .profile-frm-cl2
                            input(type='text', value='#{availablePaymentMethod.direct_deposit_bank_name ? availablePaymentMethod.direct_deposit_bank_name :""}', name='direct_deposit_bank_name')
                        .profile-frm-row
                          .profile-frm-cl1 Account Number
                          .profile-frm-cl2
                            input(type='text', value='#{availablePaymentMethod.direct_deposit_account_no ? availablePaymentMethod.direct_deposit_account_no :""}', name='direct_deposit_account_no')
                        .profile-frm-row
                          .profile-frm-cl1 Routing Number
                          .profile-frm-cl2
                            input(type='text', value='#{availablePaymentMethod.direct_deposit_routing_no ? availablePaymentMethod.direct_deposit_routing_no :""}', name='direct_deposit_routing_no')
                    .save
                      button(type='submit') SAVE 
