extends ../layout
block content
  .col-sm-9.midlle-bar
    include ../partials/flash
    .large-title-row
      img(src='/images/title-icon.png', alt='icon')
      |  USERS
    .customer-box.clearfix
      .customer-cl
        h2 USERS
        ul
          li.active
            a(href='/user/list') Manage Users
          li
            a(href='/user/add') Add User
      .profile-cl
        .profile-top-row
          h2 MANAG USERS
        .profile-form-box.users-in
          #tabs-222574.customer-tabs
            .edit-btn-cl
              a(href='javascript:void(0);', onclick='deleteUsersAndShop()')
                img(alt='Delete', src='/images/delete-icon.png')
            ul.nav.nav-tabs
              li.active
                a.userTab(href='#panel-278853', data-toggle='tab') Users 
              li
                a.shopTab(href='#panel-4338', data-toggle='tab') Shops
            .tab-content
              #panel-278853.tab-pane.active
                .low-tbl-box.order-txt
                  form(action='', method='post', name='form2')
                    table(width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          th(align='center')
                            input#select_all_users(type='checkbox', name='checkbox2')
                          th Photo
                          th username
                          th Name
                          th User Since
                          th STATUS
                          th
                        if getCustomers.length > 0
                          each getCustomer in getCustomers 
                            tr
                              td(align='center')
                                input.user-checkbox-row(type='checkbox', name='checkbox4[]', value='#{getCustomer._id}')
                              td
                                img.custImg.profile-icons(src='#{getCustomer.profile_image ? getCustomer.profile_image : "/images/noPhoto2.png"}', alt='img')
                              td @#{getCustomer.user_name} 
                              td.ord-title 
                                a.ord-title(href='/user/shopuser_profile/#{getCustomer._id}') #{getCustomer.first_name} #{getCustomer.last_name}
                              td #{dateFormat(getCustomer.createdAt,'dS mmm yyyy h:MM:ss TT')} 
                              td
                                | ONLINE 
                                span.online-icon
                                  img(src='/images/online-icon.png', alt='online')
                              td
                                a.edit-btn.view-btn(href='/user/shopuser_profile/#{getCustomer._id}')
                                  span
                                    img(src='/images/eye-icon.png', alt='icon')
                                  |                               VIEW    
                        else
                          tr
                            td(colspan=12)
                              | No Customers  
              #panel-4338.tab-pane
                .low-tbl-box.order-txt
                  form(action='', method='post', name='form2')
                    table(width='100%', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          th(align='center')
                            input#select_all_cust(type='checkbox', name='checkbox2')
                          th Photo
                          th Name
                          th User SInce
                          th SHOP TYPE
                          th Address
                          th City
                          th State
                          th ZIP CODE
                          th Country
                          th E-MAil ADDRESS
                          th
                        if getUsers.length > 0
                          each getUser in getUsers 
                            tr
                              td(align='center')
                                input.cust-checkbox-row(type='checkbox', name='checkbox5[]', value='#{getUser._id}')
                              td
                                img.custImg(src='#{getUser.profile_image ? getUser.profile_image : "/images/noPhoto2.png"}', alt='img')
                              td.ord-title 
                                a.ord-title(href='/user/shop_user_view/#{getUser._id}') #{getUser.shop_name}
                              td #{dateFormat(getUser.createdAt,"dS mmm yyyy h:MM:ss TT")}
                              td 
                               - if(user.role_id==3){
                                    | Brand
                               - }else{
                                    | Boutique
                               - } 
                              td #{getUser.address}
                              td #{getUser.city}
                              td #{getUser.state} 
                              td #{getUser.zip}
                              td #{getUser.country}
                              td #{getUser.email_id}
                              td
                                a.edit-btn.view-btn(href='/user/shop_user_view/#{getUser._id}')
                                  span
                                    img(src='/images/eye-icon.png', alt='icon')
                                  |  VIEW
                        else
                          tr
                            td(colspan=12)
                              | No Customers     
        #showUserPagi                      
            include ../partials/pagination   
        #showShopPagi.dnone                                  
            - if(totalPageSecond > 1){
                - currentPageSecond = parseInt(currentPageSecond)
                 ul.pagination
                    - var links = 3;
                    - var scls = (currentPageSecond  == 1)?'disabled':'';
                    - var lcls = (totalPageSecond == currentPageSecond)?'disabled':'';

                    - var firstCls = (currentPageSecond == 1)?'disabled':'';
                    li(class=firstCls)
                        span
                            a(href='?pagesecond=1') First
                    li(class=scls)
                        span
                            a(href='?pagesecond='+(currentPageSecond-1)) &laquo;        

                    - for (var i=1; i<=totalPageSecond; i++){
                        - var cpageCls1 = (currentPageSecond == i)?'active':'';
                        - if( ((i >= (currentPageSecond-links)) && (i <= currentPageSecond)) || ((i <= (currentPageSecond+links)) && (i > currentPageSecond))){
                            li(class=cpageCls1)
                              span
                                a(href='?pagesecond='+i ) #{i}
                        - } 
                    - }

                    li(class=lcls)
                        span
                            a(href='?pagesecond='+(currentPageSecond+1)) &raquo;

                    - var firstCls = (currentPageSecond == totalPageSecond)?'disabled':'';
                    li(class=firstCls)
                        span
                            a(href='?pagesecond='+totalPageSecond) Last
            - }
            script.
              $(document).ready(function() {
                $('.userTab').click(function(){
                   $('#showUserPagi').show();
                   $('#showShopPagi').hide();
                });
                $('.shopTab').click(function(){
                   $('#showShopPagi').show();
                   $('#showUserPagi').hide();
                });
                
                //select all checkboxes
                $("#select_all_users").change(function(){  
                var status = this.checked; 
                    $('.user-checkbox-row').each(function(){ 
                        this.checked = status; 
                    });
                    $('.cust-checkbox-row').each(function(){ 
                        this.checked = false; 
                    });
                     $("#select_all_cust")[0].checked = false; 
                });
                
                $("#select_all_cust").change(function(){  
                var status = this.checked; 
                    $('.cust-checkbox-row').each(function(){ 
                        this.checked = status; 
                    });
                    $("#select_all_users")[0].checked = false; 
                    $('.user-checkbox-row').each(function(){ 
                        this.checked = false; 
                    });
                });
                
                $('.user-checkbox-row').change(function(){ 
                    if(this.checked == false){ 
                        $("#select_all_users")[0].checked = false; 
                    }
                    if ($('.user-checkbox-row:checked').length == $('.user-checkbox-row').length ){
                        $("#select_all_users")[0].checked = true; 
                    }
                });
                
                 $('.cust-checkbox-row').change(function(){ 
                    if(this.checked == false){ 
                        $("#select_all_cust")[0].checked = false; 
                    }
                    if ($('.cust-checkbox-row:checked').length == $('.cust-checkbox-row').length ){
                        $("#select_all_cust")[0].checked = true; //change "select all" checked status to true
                    }
                });
              });