extends ../layout
block content
  .col-sm-9.midlle-bar
    .large-title-row
      img(src='/images/title-icon.png', alt='icon')
      |  #{getUserDetails[0].first_name} #{getUserDetails[0].last_name}
    .righsub-nav.clearfix
      .left-sub
        ul
          li
            a(href='#')
              img(src='/images/sub-nav-arrow.png', alt='arrow')
          li
            a(href='/user/list') Back
          li
            a(href='javascript:deleteUser("#{getUserDetails[0]._id}");') Delete USER 
          li
            a(href='/user/changePassword/#{getUserDetails[0]._id}') Reset Password 
    .customer-box.clearfix
      .customer-cl
        include ../partials/user_left_menu
      .profile-cl
          .profile-top-row
            h2 LINKED ACCOUNTS
          .profile-form-box.linked
            p SHARED SETTINGS
            ul
              li
                a(href='javascript:void(0);')
                  span
                    img(src='/images/facebook.png')
                  | #{getUserDetails[0].facebook}
              li
                a(href='javascript:void(0);')
                  span
                    img(src='/images/instagram.png')
                  |  #{getUserDetails[0].instagram}
              li
                a(href='javascript:void(0);')
                  span
                    img(src='/images/tumbler.png')
                  |  #{getUserDetails[0].tumblr}
              li
                a(href='javascript:void(0);')
                  span
                    img(src='/images/pintrest.png')
                  |  #{getUserDetails[0].pinterest}
              li
                a(href='javascript:void(0);')
                  span
                      img(src='/images/twitter.png')
                  |  #{getUserDetails[0].twitter}
