extends ../layout
block content
  .col-sm-9.midlle-bar
    include ../partials/flash
    .large-title-row
      img(src='/images/title-icon.png', alt='icon')
      |  #{getUserDetails.first_name} #{getUserDetails.last_name}
    .righsub-nav.clearfix
      include user_top_bar
    .customer-box.clearfix
      .customer-cl
        include ../partials/user_left_menu
      .profile-cl
          .profile-top-row
            h2 LINKED ACCOUNTS
          .profile-form-box.linked
            p SHARED SETTINGS
            ul
              li
                a(href='javascript:void(0);')
                  span
                    img(src='/images/facebook.png')
                  | #{getUserDetails.facebook}
              li
                a(href='javascript:void(0);')
                  span
                    img(src='/images/instagram.png')
                  |  #{getUserDetails.instagram}
              li
                a(href='javascript:void(0);')
                  span
                    img(src='/images/tumbler.png')
                  |  #{getUserDetails.tumblr}
              li
                a(href='javascript:void(0);')
                  span
                    img(src='/images/pintrest.png')
                  |  #{getUserDetails.pinterest}
              li
                a(href='javascript:void(0);')
                  span
                      img(src='/images/twitter.png')
                  |  #{getUserDetails.twitter}
