extends ../layout
block content
  .col-sm-9.midlle-bar
    .large-title-row
      img(src='/images/title-icon2.png', alt='icon')
      |  ORDERS
      .edit-btn-cl
        -if(((user.role_id == 3 || user.role_id == 4) &&  user.userPermissions.indexOf('57c04f7043592d87b0e6f5fd') != -1) || (user.role_id == 6 &&  user.userPermissions.indexOf('57ecccf9eb288fb8157b23c7') != -1)){
            a.save-btn(href='#') PRINT INVOICE
        -}
    .customer-box.cmn-in.clearfix
      .low-tbl-box.order-txt
        form(name='form2', method='post', action='')
          table(width='100%', cellspacing='0', cellpadding='0', border='0')
            tbody
              tr
                th(align='center')
                  input.tableCheckbox#checkbox2(type='checkbox', name='checkbox2')
                th ORDER # 
                th DATE 
                th Customer
                th payment STATUS
                th Total
                th STATUS
              if orderdata.length > 0        
                each orderdatas in orderdata      
                  tr
                    td(align='center')
                      input.rowCheckbox#checkbox4(type='checkbox', name='checkbox4')
                    td 
                      -if(((user.role_id == 3 || user.role_id == 4 ) && user.userPermissions.indexOf('57c04f8243592d87b0e6f5fe') != -1) || (user.role_id == 6 && user.userPermissions.indexOf('57eccd3ceb288f521a7b23c7') != -1)) {
                        a(href='/order/detail/#{orderdatas._id}' class='ord-title') #{orderdatas.order_number} 
                      -}else{
                        |#{orderdatas.order_number} 
                      -}
                    td #{orderdatas.orderdate}
                    td  #{orderdatas.first_name} #{orderdatas.last_name}  
                    td Paid
                    td $#{orderdatas.totalprice}
                    td.clr-s1 #{orderdatas.status}
                     
               else
                    tr
                      td(colspan=8) Order is not created
    include ../partials/pagination                  
