extends ../layout

block content
  .page-header
    h3 Add New Size

    form(name='addproduct', action='/saveproduct', method='POST' enctype='multipart/form-data')
      a(href='/listofproducts') Cancel | 
      input.saveproduct(type='submit', name='saveproduct', value='Save Product')
      table(cellpadding='0', cellspacing='0', width='100%')
        tr
          td Product Name
          td
            input.product_name(type='text', name='name', value='', required='required')
        tr
          td Product sku
          td
            input.sku(type='text', name='sku', value='', required='required')
        tr    
          td Product Description
          td
            textarea.product_desc(rows='5', cols='50', name='description')
        tr
          td Product Category
          td
            select.product_category(name='category_id')
             option(value='0') Select Category
             each fetchCategory in fetchCategories
              option(value='#{fetchCategory._id}') #{fetchCategory.name}
        tr
          td Product Sub Category
          td
            select.product_sub_category(name='sub_category_id')
             option(value='0') Select Sub Category
             each fetchSubCategory in fetchSubCategories
              option(value='#{fetchSubCategory._id}') #{fetchSubCategory.name}
        tr
          td Product Brand
          td
            select.product_brand(name='brand_id')
             option(value='0') Select Brand
             each allBrand in allBrands
              option(value='#{allBrand._id}') #{allBrand.brand_name}
        tr
          td Is Featured
          td
            select.is_featured(name='is_featured')
             option(value='1') yes
             option(value='0') no
        tr
          td Product Price
          td
            input.product_desc(type='text', name='price', value='', required='required')
        tr
          td Product Image
          td
            input.product_image(type='file', name='product_image', value='', required='required')

            
           