extends ../layout

block content
  .page-header
    h3 Edit

    form(name='updateproduct', action='/updateproduct', method='POST' enctype='multipart/form-data')
      a(href='/listofproducts') Cancel | 
      input.updateproduct(type='submit', name='updateproduct', value='Update Product')
      table(cellpadding='0', cellspacing='0', width='100%')
        tr
          td Product Name
          td
            input.product_name(type='text', name='name', value='#{fetchEditProduct.name}', required='required')
        tr
          td Product sku
          td
            input.size_name(type='text', name='sku', value='#{fetchEditProduct.sku}', required='required')
        tr    
          td Product Description
          td
            textarea.product_desc(rows='5', cols='50', name='description') #{fetchEditProduct.description}
        tr
          td Product Category
          td
            select.product_category(name='category_id' onchange='loadSelectedsubCategory(this.value)')
             option(value='0') Select Category
             each fetchCategory in fetchCategories
              option(value='#{fetchCategory._id}' selected=(fetchCategory._id == fetchEditProduct.category_id)) #{fetchCategory.name}
        tr
          td Product Sub Category
          td
            select.product_sub_category(name='sub_category_id')
             option(value='0') Select Sub Category
             each fetchSubCategory in fetchSubCategories
              option(value='#{fetchSubCategory._id}' selected=(fetchSubCategory._id == fetchEditProduct.sub_category_id)) #{fetchSubCategory.name}
        tr
          td Product Brand
          td
            select.product_brand(name='brand_id')
             option(value='0' selected=(fetchEditProduct.brand_id == '0')) Select Brand
             each allBrand in allBrands
              option(value='#{allBrand._id}' selected=(fetchEditProduct.brand_id == allBrand._id)) #{allBrand.brand_name}
        tr
          td Is Featured
          td
            select.is_featured(name='is_featured')
             option(value='1' selected=(fetchEditProduct.is_featured == '1')) yes
             option(value='0' selected=(fetchEditProduct.is_featured == '0')) no
        tr
          td Product Price
          td
            input.product_desc(type='text', name='price', value='#{fetchEditProduct.price}', required='required')
            input.pid(type='hidden', name='_id', value='#{fetchEditProduct._id}')
        tr
          td Product Image
          td
            input.product_image(type='file', name='product_image', value='')
            each fetchImageOfProduct in fetchImageOfProducts   
             img(src='/#{fetchImageOfProduct.large_image}' alt='#{fetchImageOfProduct.image_name}' title='#{fetchEditProduct.name}')

            
           