extends ../layout

block content    
  .col-sm-9.midlle-bar
    include ../partials/flash
    .mdl-row.clearfix
      .new-ord-box
        .new-ord-in
          h3.box-title New Orders
          p.num-txt #{dashboardData.newOrder.length}
          p.ready-txt Ready To Pack And Ship!
      .today-sale-box
        .today-sale-in
          h3.box-title Today's Sales
          p.num-txt.colr1 $ #{dashboardData.todaySale}
          p.ready-txt.colr2 LAST SALE 2 HOURS AGO
      .shipping-total-box
        .shipping-total-in
          h3.box-title Shipping Totals
          p.blue-title.top-spc $ #{dashboardData.todayShippingTotal}
          h3.box-title.top-spc PayMENT fees
          p.blue-title.top-spc $ #{dashboardData.todayPaymentFees}
    .mdl-row.clearfix
      .col-sm-8.mdl-tab-box
        .mdl-cmn.mdl-tab
          #tabs-752809.tabbable
            ul.nav.nav-tabs.ul-mdl-tab
              li
                a(href='#panel-510752', data-toggle='tab') TOP SELLERS
              li
                a(href='#panel-514188', data-toggle='tab') TOP 5 CUSTOMERS
              li.active
                a(href='#panel-514189', data-toggle='tab') NEW ORDERS
            .tab-content
              #panel-510752.tab-pane
                .adminContant.first-tab-cnt
                  .adminlist
                    h4 1.
                    .adminimg
                      img(alt='', src='images/tab-1img.jpg')
                    .admindetails
                      p
                        | Fake Street
                        | The SS Flag Tee
                        | Size S
                        | $28.00
                  .adminlist
                    h4 2.
                    .adminimg
                      img(alt='', src='images/tab-1img.jpg')
                    .admindetails
                      p
                        | Fake Street
                        | The SS Flag Tee
                        | Size S
                        | $28.00
                  .adminlist
                    h4 3.
                    .adminimg
                      img(alt='', src='images/tab-1img.jpg')
                    .admindetails
                      p
                        | Fake Street
                        | The SS Flag Tee
                        | Size S
                        | $28.00
                  .adminlist
                    h4 4.
                    .adminimg
                      img(alt='', src='images/tab-1img.jpg')
                    .admindetails
                      p
                        | Fake Street
                        | The SS Flag Tee
                        | Size S
                        | $28.00
                  .adminlist
                    h4 5.
                    .adminimg
                      img(alt='', src='images/tab-1img.jpg')
                    .admindetails
                      p
                        | Fake Street
                        | The SS Flag Tee
                        | Size S
                        | $28.00
              #panel-514188.tab-pane
                .adminContant
                  .adminlist
                    h4 1.
                    .adminimg
                      img(alt='', src='images/admin.png')
                    .admindetails
                      p Ashley Molina Glendora, CA
                      p Total: $2,234.00
                      p Purchases: 7
                  .adminlist
                    h4 2.
                    .adminimg
                      img(alt='', src='images/admin.png')
                    .admindetails
                      p Ashley Molina Glendora, CA
                      p Total: $2,234.00
                      p Purchases: 7
                  .adminlist
                    h4 3.
                    .adminimg
                      img(alt='', src='images/admin.png')
                    .admindetails
                      p Ashley Molina Glendora, CA
                      p Total: $2,234.00
                      p Purchases: 7
                  .adminlist
                    h4 4.
                    .adminimg
                      img(alt='', src='images/admin.png')
                    .admindetails
                      p Ashley Molina Glendora, CA
                      p Total: $2,234.00
                      p Purchases: 7
                  .adminlist
                    h4 5.
                    .adminimg
                      img(alt='', src='images/admin.png')
                    .admindetails
                      p Ashley Molina
                      p Glendora, CA
                      p Total: $2,234.00
                      p Purchases: 7
              #panel-514189.tab-pane.active
                .low-tbl-box.tab-tbl
                  table(width='100%', border='0', cellspacing='0', cellpadding='0')
                    tr
                      th ORDER #
                      th DATE                              
                      th TOTAL
                    if dashboardData.newOrder.length > 0
                      each newOrder in dashboardData.newOrder
                        tr
                          td.ord-title #{newOrder.order_number}
                          td #{newOrder.orderdate}
                          td $ #{newOrder.totalprice}
                    else
                      tr
                        td(colspan=3)
                          | No new Orders      
      .col-sm-4.wkl-sale
        .seals.right-cmn
          h2.right-title Weekly sales
          .bgwhite
            .sealsLeft
              h3 Total sales
            .sealsRight
              h3 $ #{dashboardData.weeklyTotalSale}
          .bgwhite
            .sealsLeft
              h3 # of Sales
            .sealsRight
              h3 #{dashboardData.weeklyNoOfSale}
          .bgwhite
            .sealsLeft
              h3 AVG sale
            .sealsRight
              h3 $ #{dashboardData.weeklyAvgSale}
          .bgwhite
            .sealsLeft
              h3 YTD SALE
            .sealsRight
              h3 $ #{dashboardData.yearlyYtdSale}
        .social.right-cmn
          h2.right-title SOCIALOMETER
          .bgblue
            .socialLeft
              h3 LIFETIME SHARES
            .socialCenter
              img(src='images/icon1.png', alt='')
            .socialRight
              h3 #{dashboardData.share}
          .bgblue
            .socialLeft
              h3 NEW USERS
            .socialCenter
              img(src='images/icon2.png', alt='')
            .socialRight
              h3 #{dashboardData.newUsers}
          .bgblue
            .socialLeft
              h3 LIFETIME LIKES
            .socialCenter
              img(src='images/icon3.png', alt='')
            .socialRight
              h3 #{dashboardData.like}
          .bgblue
            .socialLeft
              h3 TOTAL USERS
            .socialCenter
              img(src='images/icon2.png', alt='')
            .socialRight
              h3 #{dashboardData.totalUser}
script(src='js/bootstrap.min.js', type='text/javascript')
script(src='js/bootstrap-select.min.js', type='text/javascript')
script(type='text/javascript').
  $('.selectpicker').selectpicker();
