extends ../layout

block content
  .col-sm-9.midlle-bar
    .large-title-row
        |Edit Size
    .top-btns.clearfix
        .btn-s-right
        
    .customer-box.clearfix
        include ../partials/product_left_menu
        .profile-cl
            form(name='addsize', action='/size/update', method='POST')
              input(type='hidden' value='#{fetchSize.user_id}' name='user_id')
              input(type='hidden' value='#{fetchSize._id}' name='_id')
              .profile-top-row
                a(href='/size/list') Cancel | 
                input.savesize(type='submit', name='savesize', value='Save Size')

              .profile-form-box
                .profile-frm-row
                    .profile-frm-cl1
                        |Size Name
                    .profile-frm-cl2
                        input.size_name(type='text', name='size_name', value='#{fetchSize.size_name}', required='required') 
                        
                .profile-frm-row
                    .profile-frm-cl1
                        |Select Gender
                    .profile-frm-cl2
                        select.sizegender(name='gender')
                            option(value='male', selected=(fetchSize.gender == 'male')) Male
                            option(value='female', selected=(fetchSize.gender == 'female')) female
                            option(value='unisex', selected=(fetchSize.gender == 'unisex')) Unisex
                            
                .profile-frm-row
                    .profile-frm-cl1 
                        |Select Attribute
                    .profile-frm-cl2
                        select(multiple='multiple' name='listofattrmap[]' class='listofattrmap')
                          each fetchAllAttributes in fetchAllAttribute
                            - var tempSelect = true
                            - for(var i=0; i<fetchSize.listofattrmap.length; i++){
                                - if(fetchAllAttributes._id == fetchSize.listofattrmap[i]){
                                    - var tempSelect = false
                                    option(value='#{fetchAllAttributes._id}', selected=(fetchAllAttributes._id == fetchSize.listofattrmap[i])) #{fetchAllAttributes.name} 
                                - }
                            - }
                            - if(tempSelect){
                                 option(value='#{fetchAllAttributes._id}') #{fetchAllAttributes.name} 
                            - }
                           
                .profile-frm-row
                    .profile-frm-cl1  
                        |Published
                    .profile-frm-cl2
                        select.sizepublished(name='is_published')
                            option(value='true', selected=(fetchSize.is_published == 'true')) Yes
                            option(value='false', selected=(fetchSize.is_published == 'false')) No