extends ../layout

block content
  .col-sm-9.midlle-bar
    .large-title-row
      | List of All Sizes
      
    .top-btns.clearfix
     .btn-s-right
        a.default-btn(href='/size/add', title='Add Size') Add Size
        //a.default-btn(href='/rmvsize', title='Remove Size') Remove Size | 
    
    .customer-box.clearfix
      include ../partials/product_left_menu
      .profile-cl
        .profile-top-row
          h2 MANAGE SIZES
        h3.sub-heading 
          | SIZES  
        .profile-form-box.users-in
          .low-tbl-box
            table(width='100%')
             tr
              th Sr.no
              th Size Name
              th Gender
              th Edit
              th Remove
             - var number =1;
             each getAllSize in getAllSizes 
              tr(class='sizeTr_#{getAllSize._id}')
               td #{number}
               td #{getAllSize.size_name}
               td #{getAllSize.gender}
               td 
                a.edit_size(href='/size/edit/#{getAllSize._id}') Edit
               td 
                a.edit_size(href='/size/delete/#{getAllSize._id}') 
                  img(src='/images/delete-icon.png') 
               - number++    

          