extends ../layout

block content
  .col-sm-9.midlle-bar
    .large-title-row
      | List of All Sizes
      
    .top-btns.clearfix
     .btn-s-right
        a.default-btn(href='/addsize', title='Add Size') Add Size
        //a.default-btn(href='/rmvsize', title='Remove Size') Remove Size | 
    
    .customer-box.clearfix
      include ../partials/product_left_menu
      .profile-cl
        .profile-top-row
          h2 MANAGE SIZES
        h3.sub-heading 
          | SIZES  
        .profile-form-box.users-in
          .low-tbl-box
            table(width='100%')
             tr
              th Sr.no
              th Size Name
              th Gender
              th Remove
              th Edit
             each getAllSize in getAllSizes 
              tr(class='sizeTr_#{getAllSize._id}')
               td 1
               td #{getAllSize.size_name}
               td #{getAllSize.gender}
               td 
                a.edit_size(href='#' onclick='make_sure_for_size("#{getAllSize._id}")') Remove
               td 
                a.edit_size(href='/editsize/#{getAllSize._id}') Edit

          