extends ../layout

block content
  .page-header
    h3 Edit Category

    form(name='addSubCategory', action='/updatesubcategory', method='POST')
      table(cellpadding='0', cellspacing='0', width='100%')
        tr
          td Name
          td
            input.cat_name(type='text', name='name', value='#{fetchSubCategory.name}', required='required')
        tr
          td Description
          td
            textarea.description(name='description') #{fetchSubCategory.description}
        tr
          td Active
          td
            select.parent_cat(name="parent_id")
             option(value='0') Select Parent Category
             each getAllCategory in getAllCategories
              option(value='#{getAllCategory._id}' selected=(getAllCategory._id == fetchSubCategory.parent_id)) #{getAllCategory.name}
        tr
          td Active
          td
            select.is_active(name="is_active")
             option(value='1' selected=(fetchSubCategory.is_active == '1')) Yes
             option(value='0' selected=(fetchSubCategory.is_active == '0')) No
        tr
          td(colspan='2')
            input(type='hidden' value='#{fetchSubCategory.user_id}' name='user_id')
            input(type='hidden' value='#{fetchSubCategory._id}' name='_id')
            a(href='/listofcategories') Cancel | 
            input.savesubcategory(type='submit', name='savesubcategory', value='Save Category')
           