extends ../layout

block content
  .col-sm-9.midlle-bar
    .large-title-row
      img(src='/images/title-icon3.png', alt='icon')
      |  PRODUCTS
    .top-btns.clearfix
      .btn-s-right
        a#modal-104831.default-btn(href='#modal-container-104831', role='button', data-toggle='modal') ADD BRAND
    .customer-box.clearfix
      include ../partials/product_left_menu
      .profile-cl
        if (messages.message && messages.message.length > 0)
          .message.message
            span= messages.message
        .profile-top-row
          h2 MANAGE BRANDS
        h3.sub-heading 
          | BARNDS  
        .profile-form-box.users-in
          .low-tbl-box
            table(width='100%', cellspacing='0', cellpadding='0', border='0')
              tbody
                tr
                  th #
                  th Logo
                  th Brand Name
                  th Brand Edit
                  th 
                    a(href='#')
                      img(src='/images/delete-icon.png', alt='icon')
                if getAllBrands.length > 0
                  - var number =1;
                  each getAllBrand in getAllBrands      
                    tr
                      td #{number}
                      td 
                        img(src='/#{getAllBrand.brand_logo}', alt='#{getAllBrand.brand_name}' title='#{getAllBrand.brand_name}' class='brandlogo' height='50' width='50')
                      td #{getAllBrand.brand_name}
                      td 
                        a(href='/brand/edit/#{getAllBrand._id}' title='#{getAllBrand.brand_name}') Edit
                      td
                        a(href='/brand/delete/#{getAllBrand._id}')
                          img(src='/images/delete-icon.png', alt='icon')
                    - number++
                 else
                  tr
                    td(colspan=4)
                      | No Brand

  #modal-container-104831.modal.fade.cmn-popup(role='dialog', aria-labelledby='myModalLabel', aria-hidden='true',)
    .modal-dialog.popup-wdt-1
      form(name='addbrand', method='post', action='/brand/save', enctype='multipart/form-data')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true')
              img(src='/images/close-icon.png', alt='icon')
            h4#myModalLabel.modal-title
              | ADD BRAND
          .modal-body
            .upload-box
              .upload-in
                input.brand_logo(type='file', name='brand_logo', required='required')
              p.up-title Upload Logo
            .color-row
              .cl-name Brand Name
              .cl-inp
                input(name='brand_name', type='text', required='required')
            .color-row
              .cl-name Brand Description
              .cl-inp
                textarea(name='brand_desc', required='required')
            .color-row
              .cl-name Cover Image
              .cl-inp
                input.brand_cover(type='file', name='brand_cover', required='required')   
          .modal-footer
            button(type='submit')
              | Save
